In [98]:
import pandas as pd
df = pd.read_csv('Uncleaned_DS_jobs.csv')

In [99]:
df.describe()

            index      Rating      Founded
count  672.000000  672.000000   672.000000
mean   335.500000    3.518601  1635.529762
std    194.133974    1.410329   756.746640
min      0.000000   -1.000000    -1.000000
25%    167.750000    3.300000  1917.750000
50%    335.500000    3.800000  1995.000000
75%    503.250000    4.300000  2009.000000
max    671.000000    5.000000  2019.000000

In [127]:
df.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,Industry,Sector,Revenue,Competitors,min_salary,max_salary,avg_salary,company_text,num_elements,job_state
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,...,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137,171,154.0,Healthfirst,2,NY
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,...,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137,171,154.0,INFICON,2,MA
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,...,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137,171,154.0,Affinity Solutions,2,NY
8,8,Staff Data Scientist - Analytics,$137K-$171K (Glassdoor est.),Intuit is seeking a Staff Data Scientist to co...,4.4,Intuit - Data\n4.4,"San Diego, CA","Mountain View, CA",5001 to 10000 employees,1983,...,Computer Hardware & Software,Information Technology,$2 to $5 billion (USD),"Square, PayPal, H&R Block",137,171,154.0,Intuit - Data,2,CA
10,10,Data Scientist,$137K-$171K (Glassdoor est.),Join our team dedicated to developing and exec...,4.5,Novetta\n4.5,"Herndon, VA","Mc Lean, VA",501 to 1000 employees,2012,...,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD),"Leidos, CACI International, Booz Allen Hamilton",137,171,154.0,Novetta,2,VA

In [128]:
print(df)

     index                                          Job Title  \
0        0                                  Sr Data Scientist
3        3                                     Data Scientist
4        4                                     Data Scientist
8        8                   Staff Data Scientist - Analytics
10      10                                     Data Scientist
..     ...                                                ...
645    645  AI/ML - Machine Learning Scientist, Siri Under...
647    647  ENGINEER - COMPUTER SCIENTIST - RESEARCH COMPU...
651    651                              AI Ops Data Scientist
652    652                              Senior Data Scientist
666    666                                     Data Scientist

                  Salary Estimate  \
0    $137K-$171K (Glassdoor est.)
3    $137K-$171K (Glassdoor est.)
4    $137K-$171K (Glassdoor est.)
8    $137K-$171K (Glassdoor est.)
10   $137K-$171K (Glassdoor est.)
..                            ...
645   $92K-$155K (Glassdoor est.)
647   $92K-$155K (Glassdoor est.)
651   $92K-$155K (Glassdoor est.)
652  $105K-$167K (Glassdoor est.)
666  $105K-$167K (Glassdoor est.)

                                       Job Description  Rating  \
0    Description\n\nThe Senior Data Scientist is re...     3.1
3    JOB DESCRIPTION:\n\nDo you have a passion for ...     3.5
4    Data Scientist\nAffinity Solutions / Marketing...     2.9
8    Intuit is seeking a Staff Data Scientist to co...     4.4
10   Join our team dedicated to developing and exec...     4.5
..                                                 ...     ...
645  Posted: May 2, 2020\nRole Number:\n200018211\n...     4.1
647  Join our Defense and Intelligence Solutions Di...     3.9
651  Company\n\nAstraZeneca is a global, innovation...     4.0
652  About Us\n\nAt GutCheck, we pioneered agile ma...     3.8
666  About Foundation Medicine:\n\nFoundation Medic...     4.0

                          Company Name           Location  \
0                     Healthfirst\n3.1       New York, NY
3                         INFICON\n3.5         Newton, MA
4              Affinity Solutions\n2.9       New York, NY
8                   Intuit - Data\n4.4      San Diego, CA
10                        Novetta\n4.5        Herndon, VA
..                                 ...                ...
645                         Apple\n4.1    Santa Clara, CA
647  Southwest Research Institute\n3.9  Oklahoma City, OK
651                   AstraZeneca\n4.0   Gaithersburg, MD
652                      GutCheck\n3.8         Denver, CO
666           Foundation Medicine\n4.0         Boston, MA

                  Headquarters                     Size  Founded  ...  \
0                 New York, NY   1001 to 5000 employees     1993  ...
3       Bad Ragaz, Switzerland    501 to 1000 employees     2000  ...
4                 New York, NY      51 to 200 employees     1998  ...
8            Mountain View, CA  5001 to 10000 employees     1983  ...
10                 Mc Lean, VA    501 to 1000 employees     2012  ...
..                         ...                      ...      ...  ...
645              Cupertino, CA         10000+ employees     1976  ...
647            San Antonio, TX   1001 to 5000 employees     1947  ...
651  Cambridge, United Kingdom         10000+ employees     1913  ...
652                 Denver, CO      51 to 200 employees     2009  ...
666              Cambridge, MA   1001 to 5000 employees     2010  ...

                                    Industry                     Sector  \
0                         Insurance Carriers                  Insurance
3      Electrical & Electronic Manufacturing              Manufacturing
4                    Advertising & Marketing          Business Services
8               Computer Hardware & Software     Information Technology
10   Enterprise Software & Network Solutions     Information Technology
..                                       ...                        ...
645             Computer Hardware & Software     Information Technology
647                   Research & Development          Business Services
651                Biotech & Pharmaceuticals  Biotech & Pharmaceuticals
652                  Advertising & Marketing          Business Services
666                Biotech & Pharmaceuticals  Biotech & Pharmaceuticals

                              Revenue  \
0            Unknown / Non-Applicable
3          $100 to $500 million (USD)
4            Unknown / Non-Applicable
8              $2 to $5 billion (USD)
10         $100 to $500 million (USD)
..                                ...
645                $10+ billion (USD)
647  $500 million to $1 billion (USD)
651                $10+ billion (USD)
652          $10 to $25 million (USD)
666        $100 to $500 million (USD)

                                           Competitors min_salary  max_salary  \
0              EmblemHealth, UnitedHealth Group, Aetna        137         171
3    MKS Instruments, Pfeiffer Vacuum, Agilent Tech...        137         171
4                 Commerce Signals, Cardlytics, Yodlee        137         171
8                            Square, PayPal, H&R Block        137         171
10     Leidos, CACI International, Booz Allen Hamilton        137         171
..                                                 ...        ...         ...
645             Google, Microsoft, Samsung Electronics         92         155
647  Los Alamos National Laboratory, Battelle, SRI ...         92         155
651                   Roche, GlaxoSmithKline, Novartis         92         155
652                       Nielsen, Zappi, SurveyMonkey        105         167
666  Genomic Health, Myriad Genetics, The Broad Ins...        105         167

     avg_salary                  company_text num_elements  job_state
0         154.0                   Healthfirst            2         NY
3         154.0                       INFICON            2         MA
4         154.0            Affinity Solutions            2         NY
8         154.0                 Intuit - Data            2         CA
10        154.0                       Novetta            2         VA
..          ...                           ...          ...        ...
645       123.5                         Apple            2         CA
647       123.5  Southwest Research Institute            2         OK
651       123.5                   AstraZeneca            2         MD
652       136.0                      GutCheck            2         CO
666       136.0           Foundation Medicine            2         MA

[171 rows x 21 columns]

In [129]:
#Salary parsing
salary = df['Salary Estimate'].apply(lambda x: x.split("(")[0])

In [130]:
print(salary)

0      $137K-$171K
3      $137K-$171K
4      $137K-$171K
8      $137K-$171K
10     $137K-$171K
           ...
645     $92K-$155K
647     $92K-$155K
651     $92K-$155K
652    $105K-$167K
666    $105K-$167K
Name: Salary Estimate, Length: 171, dtype: object

In [141]:
minus_kd = salary.apply(lambda x: x.replace("K"," ").replace("$"," "))

In [142]:
print(minus_kd)

0       137 - 171
3       137 - 171
4       137 - 171
8       137 - 171
10      137 - 171
           ...
645      92 - 155
647      92 - 155
651      92 - 155
652     105 - 167
666     105 - 167
Name: Salary Estimate, Length: 171, dtype: object

In [163]:
df['min_salary'] = minus_kd.apply(lambda x: x.split("-")[0])
df['min_salary'] = pd.to_numeric(df['min_salary'], errors='coerce')

In [144]:
df['min_salary']

0      137
3      137
4      137
8      137
10     137
      ...
645     92
647     92
651     92
652    105
666    105
Name: min_salary, Length: 171, dtype: int64

In [113]:
print(df)

     index          Job Title               Salary Estimate  \
0        0  Sr Data Scientist  $137K-$171K (Glassdoor est.)
1        1     Data Scientist  $137K-$171K (Glassdoor est.)
2        2     Data Scientist  $137K-$171K (Glassdoor est.)
3        3     Data Scientist  $137K-$171K (Glassdoor est.)
4        4     Data Scientist  $137K-$171K (Glassdoor est.)
..     ...                ...                           ...
667    667     Data Scientist  $105K-$167K (Glassdoor est.)
668    668     Data Scientist  $105K-$167K (Glassdoor est.)
669    669     Data Scientist  $105K-$167K (Glassdoor est.)
670    670     Data Scientist  $105K-$167K (Glassdoor est.)
671    671     Data Scientist  $105K-$167K (Glassdoor est.)

                                       Job Description  Rating  \
0    Description\n\nThe Senior Data Scientist is re...     3.1
1    Secure our Nation, Ignite your Future\n\nJoin ...     4.2
2    Overview\n\n\nAnalysis Group is one of the lar...     3.8
3    JOB DESCRIPTION:\n\nDo you have a passion for ...     3.5
4    Data Scientist\nAffinity Solutions / Marketing...     2.9
..                                                 ...     ...
667  Summary\n\nWeâ€™re looking for a data scientist ...     3.6
668  Job Description\nBecome a thought leader withi...    -1.0
669  Join a thriving company that is changing the w...    -1.0
670  100 Remote Opportunity As an AINLP Data Scient...     5.0
671  Description\n\nThe Data Scientist will be part...     2.7

                  Company Name           Location            Headquarters  \
0             Healthfirst\n3.1       New York, NY            New York, NY
1                 ManTech\n4.2      Chantilly, VA             Herndon, VA
2          Analysis Group\n3.8         Boston, MA              Boston, MA
3                 INFICON\n3.5         Newton, MA  Bad Ragaz, Switzerland
4      Affinity Solutions\n2.9       New York, NY            New York, NY
..                         ...                ...                     ...
667              TRANZACT\n3.6       Fort Lee, NJ            Fort Lee, NJ
668                       JKGT  San Francisco, CA                      -1
669                 AccessHope      Irwindale, CA                      -1
670  ChaTeck Incorporated\n5.0  San Francisco, CA         Santa Clara, CA
671         1-800-Flowers\n2.7       New York, NY         Carle Place, NY

                        Size  Founded        Type of ownership  \
0     1001 to 5000 employees     1993   Nonprofit Organization
1    5001 to 10000 employees     1968         Company - Public
2     1001 to 5000 employees     1981  Private Practice / Firm
3      501 to 1000 employees     2000         Company - Public
4        51 to 200 employees     1998        Company - Private
..                       ...      ...                      ...
667   1001 to 5000 employees     1989        Company - Private
668                       -1       -1                       -1
669                       -1       -1                       -1
670        1 to 50 employees       -1        Company - Private
671   1001 to 5000 employees     1976         Company - Public

                                  Industry             Sector  \
0                       Insurance Carriers          Insurance
1                   Research & Development  Business Services
2                               Consulting  Business Services
3    Electrical & Electronic Manufacturing      Manufacturing
4                  Advertising & Marketing  Business Services
..                                     ...                ...
667                Advertising & Marketing  Business Services
668                                     -1                 -1
669                                     -1                 -1
670                Advertising & Marketing  Business Services
671                              Wholesale  Business Services

                        Revenue  \
0      Unknown / Non-Applicable
1        $1 to $2 billion (USD)
2    $100 to $500 million (USD)
3    $100 to $500 million (USD)
4      Unknown / Non-Applicable
..                          ...
667    Unknown / Non-Applicable
668                          -1
669                          -1
670      $1 to $5 million (USD)
671      $1 to $2 billion (USD)

                                           Competitors  min_salary
0              EmblemHealth, UnitedHealth Group, Aetna         137
1                                                   -1         137
2                                                   -1         137
3    MKS Instruments, Pfeiffer Vacuum, Agilent Tech...         137
4                 Commerce Signals, Cardlytics, Yodlee         137
..                                                 ...         ...
667                                                 -1         105
668                                                 -1         105
669                                                 -1         105
670                                                 -1         105
671                                                 -1         105

[672 rows x 16 columns]

In [164]:
df['max_salary'] = minus_kd.apply(lambda x: x.split("-")[1])
df['max_salary'] = pd.to_numeric(df['max_salary'], errors='coerce')
#df['max_salary'].dtype

In [165]:
print(df['max_salary'])

0      171
3      171
4      171
8      171
10     171
      ...
645    155
647    155
651    155
652    167
666    167
Name: max_salary, Length: 169, dtype: int64

In [166]:
df['avg_salary'] = (df.min_salary+df.max_salary)/2

In [167]:
print(df['avg_salary'])

0      154.0
3      154.0
4      154.0
8      154.0
10     154.0
       ...
645    123.5
647    123.5
651    123.5
652    136.0
666    136.0
Name: avg_salary, Length: 169, dtype: float64

In [186]:
df = df[df['Competitors'] != '-1']
print(df['Competitors'])

0                EmblemHealth, UnitedHealth Group, Aetna
3      MKS Instruments, Pfeiffer Vacuum, Agilent Tech...
4                   Commerce Signals, Cardlytics, Yodlee
8                              Square, PayPal, H&R Block
10       Leidos, CACI International, Booz Allen Hamilton
                             ...
645               Google, Microsoft, Samsung Electronics
647    Los Alamos National Laboratory, Battelle, SRI ...
651                     Roche, GlaxoSmithKline, Novartis
652                         Nielsen, Zappi, SurveyMonkey
666    Genomic Health, Myriad Genetics, The Broad Ins...
Name: Competitors, Length: 169, dtype: object

In [169]:
# Assuming 'Company Name' column contains strings like "ABC Corporation\, Inc."
df['company_text'] = df['Company Name'].apply(lambda x: x.split('\n')[0])

In [170]:
#sate field
# Function to split location by comma and check number of elements
def count_split_elements(location):
    # Split location by comma (',') to separate parts
    parts = location.split(',')
    # Return the number of elements produced after splitting
    return len(parts)

# Apply the function to create a new column 'num_elements'
df['num_elements'] = df['Location'].apply(lambda x: count_split_elements(x))

# Function to extract the second part of the location if it has multiple elements
def extract_second_part(location):
    # Split location by comma (',') to separate parts
    parts = location.split(',')
    # Check if there are at least two elements after splitting
    if len(parts) > 1:
        # Return the second part (index 1) after stripping whitespace
        return parts[1].strip()
    else:
        # Return None if there is only one element (no second part)
        return None

# Apply the function to create a new column 'second_part'
df['job_state'] = df['Location'].apply(lambda x: extract_second_part(x))

# Print the DataFrame to view the results
print(df['job_state'])

0      NY
3      MA
4      NY
8      CA
10     VA
       ..
645    CA
647    OK
651    MD
652    CO
666    MA
Name: job_state, Length: 169, dtype: object

In [171]:
df.job_state.value_counts()

CA    37
VA    25
MD    14
MA    14
NY    12
TX     6
DC     6
IL     5
OH     5
IN     4
FL     4
WA     4
MO     4
OK     4
CO     3
GA     3
WI     2
MI     2
NH     2
PA     2
OR     1
DE     1
NJ     1
AL     1
MS     1
KS     1
WV     1
Name: job_state, dtype: int64

In [172]:
df['same_state'] = df.apply(lambda x: 1 if x.Location == x.Headquarters
 else 0, axis =1)
print(df['same_state'])

0      1
3      0
4      1
8      0
10     0
      ..
645    0
647    0
651    0
652    1
666    0
Name: same_state, Length: 169, dtype: int64

In [173]:
#age of company
df = df[df['Founded'] != -1]
df['age'] = df.Founded.apply(lambda x: x if x < 1 else 2024 - x)
print(df['age'])

0       31
3       24
4       26
8       41
10      12
      ...
645     48
647     77
651    111
652     15
666     14
Name: age, Length: 169, dtype: int64

In [174]:
df['Job Description'][0]

"Description\n\nThe Senior Data Scientist is responsible for defining, building, and improving statistical models to improve business processes and outcomes in one or more healthcare domains such as Clinical, Enrollment, Claims, and Finance. As part of the broader analytics team, Data Scientist will gather and analyze data to solve and address complex business problems and evaluate scenarios to make predictions on future outcomes and work with the business to communicate and support decision-making. This position requires strong analytical skills and experience in analytic methods including multivariate regressions, hierarchical linear models, regression trees, clustering methods and other complex statistical techniques.\n\nDuties & Responsibilities:\n\nâ€¢ Develops advanced statistical models to predict, quantify or forecast various operational and performance metrics in multiple healthcare domains\nâ€¢ Investigates, recommends, and initiates acquisition of new data resources from internal and external sources\nâ€¢ Works with multiple teams to support data collection, integration, and retention requirements based on business needs\nâ€¢ Identifies critical and emerging technologies that will support and extend quantitative analytic capabilities\nâ€¢ Collaborates with business subject matter experts to select relevant sources of information\nâ€¢ Develops expertise with multiple machine learning algorithms and data science techniques, such as exploratory data analysis and predictive modeling, graph theory, recommender systems, text analytics and validation\nâ€¢ Develops expertise with Healthfirst datasets, data repositories, and data movement processes\nâ€¢ Assists on projects/requests and may lead specific tasks within the project scope\nâ€¢ Prepares and manipulates data for use in development of statistical models\nâ€¢ Other duties as assigned\n\nMinimum Qualifications:\n\n-Bachelor's Degree\n\nPreferred Qualifications:\n\n- Masterâ€™s degree in Computer Science or Statistics\nFamiliarity with major cloud platforms such as AWS and Azure\nHealthcare Industry Experience\n\nMinimum Qualifications:\n\n-Bachelor's Degree\n\nPreferred Qualifications:\n\n- Masterâ€™s degree in Computer Science or Statistics\nFamiliarity with major cloud platforms such as AWS and Azure\nHealthcare Industry Experience\n\nWE ARE AN EQUAL OPPORTUNITY EMPLOYER. Applicants and employees are considered for positions and are evaluated without regard to mental or physical disability, race, color, religion, gender, national origin, age, genetic information, military or veteran status, sexual orientation, marital status or any other protected Federal, State/Province or Local status unrelated to the performance of the work involved.\n\nIf you have a disability under the Americans with Disability Act or a similar law, and want a reasonable accommodation to assist with your job search or application for employment, please contact us by sending an email to careers@Healthfirst.org or calling 212-519-1798 . In your email please include a description of the accommodation you are requesting and a description of the position for which you are applying. Only reasonable accommodation requests related to applying for a position within Healthfirst Management Services will be reviewed at the e-mail address and phone number supplied. Thank you for considering a career with Healthfirst Management Services.\nEEO Law Poster and Supplement\n\n]]>"

In [180]:
#Python
df['python_yn'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
df.python_yn.value_counts()

1    126
0     43
Name: python_yn, dtype: int64

In [181]:
#r studio 
df['r_yn'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)
df.r_yn.value_counts()

0    169
Name: r_yn, dtype: int64

In [182]:
#spark
df['spark'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
df.spark.value_counts()

0    120
1     49
Name: spark, dtype: int64

In [183]:
#aws
df['aws'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)
df.aws.value_counts()

0    125
1     44
Name: aws, dtype: int64

In [184]:
#excel
df['excel'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
df.excel.value_counts()

0    87
1    82
Name: excel, dtype: int64

In [185]:
df.to_csv('salary_datacleaned.csv', index = False)
pd.read_csv('salary_datacleaned.csv')

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,company_text,num_elements,job_state,same_state,age,python_yn,r_yn,spark,aws,excel
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,...,Healthfirst,2,NY,1,31,0,0,0,1,0
1,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,...,INFICON,2,MA,0,24,1,0,0,1,1
2,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,...,Affinity Solutions,2,NY,1,26,1,0,0,0,1
3,8,Staff Data Scientist - Analytics,$137K-$171K (Glassdoor est.),Intuit is seeking a Staff Data Scientist to co...,4.4,Intuit - Data\n4.4,"San Diego, CA","Mountain View, CA",5001 to 10000 employees,1983,...,Intuit - Data,2,CA,0,41,0,0,0,0,0
4,10,Data Scientist,$137K-$171K (Glassdoor est.),Join our team dedicated to developing and exec...,4.5,Novetta\n4.5,"Herndon, VA","Mc Lean, VA",501 to 1000 employees,2012,...,Novetta,2,VA,0,12,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,645,"AI/ML - Machine Learning Scientist, Siri Under...",$92K-$155K (Glassdoor est.),"Posted: May 2, 2020\nRole Number:\n200018211\n...",4.1,Apple\n4.1,"Santa Clara, CA","Cupertino, CA",10000+ employees,1976,...,Apple,2,CA,0,48,1,0,0,0,0
165,647,ENGINEER - COMPUTER SCIENTIST - RESEARCH COMPU...,$92K-$155K (Glassdoor est.),Join our Defense and Intelligence Solutions Di...,3.9,Southwest Research Institute\n3.9,"Oklahoma City, OK","San Antonio, TX",1001 to 5000 employees,1947,...,Southwest Research Institute,2,OK,0,77,1,0,0,0,1
166,651,AI Ops Data Scientist,$92K-$155K (Glassdoor est.),"Company\n\nAstraZeneca is a global, innovation...",4.0,AstraZeneca\n4.0,"Gaithersburg, MD","Cambridge, United Kingdom",10000+ employees,1913,...,AstraZeneca,2,MD,0,111,1,0,1,1,0
167,652,Senior Data Scientist,$105K-$167K (Glassdoor est.),"About Us\n\nAt GutCheck, we pioneered agile ma...",3.8,GutCheck\n3.8,"Denver, CO","Denver, CO",51 to 200 employees,2009,...,GutCheck,2,CO,1,15,0,0,0,0,0
168,666,Data Scientist,$105K-$167K (Glassdoor est.),About Foundation Medicine:\n\nFoundation Medic...,4.0,Foundation Medicine\n4.0,"Boston, MA","Cambridge, MA",1001 to 5000 employees,2010,...,Foundation Medicine,2,MA,0,14,1,0,0,0,0

NameError: name 'df' is not defined